@{
    ViewBag.Title = "Admin";
}
@model ViewPortAdminModel

<h2>Admin</h2>

@using(Html.BeginForm("ResetGameState", "ViewPort"))
{
    <input type="submit" class="btn btn-warning btn-large" value="Reset Game State"/>
}

@using (Html.BeginForm("SetGameParams", "ViewPort"))
{
    @Html.EditorForModel();
    <input type="submit" class="btn btn-warning btn-large" value="Set Parameters"/>
}