@{
    ViewBag.Title = "Admin";
}
@model TankWar.Engine.Objects.GameParameters

<h2>Admin</h2>

<fieldset>
    <legend>Game Parameters</legend>
    @using (Html.BeginForm())
    {
        @Html.EditorForModel();
        
        @Html.LabelFor(m => m.ViewPortSize)
        @Html.EditorFor(m => m.ViewPortSize)
        <br />
        <input type="submit" class="btn btn-info btn-large" value="Set Parameters"/>

    }
</fieldset>

 <fieldset>
     <legend>God Mode</legend>
      @Html.ValidationSummary()
     <div class="row">
         <div class="span3">
             <div class="span3">
             
                 @using(Html.BeginForm("ResetGameState", "ViewPort"))
                 {
                     <input type="submit" class="btn btn-danger btn-large" value="Reset Game State"/>
                 }
     
             </div>
             @using(Html.BeginForm("ForceStart", "ViewPort"))
             {
                 <input type="submit" class="btn btn-info btn-large" value="Send Countdown to zero"/>
             }
         </div>
         <div class="span3">
             
            @using(Html.BeginForm("GameOver", "ViewPort"))
            {
                <input type="submit" class="btn btn-warning btn-large" value="Game Over"/>
            }
     
         </div>
     </div>
 </fieldset>