@{
    ViewBag.Title = "Admin";
}
@model ViewPortAdminModel

<h2>Admin</h2>

 <fieldset>
    <legend>Reset</legend>
    @using(Html.BeginForm("ResetGameState", "ViewPort"))
    {
        <input type="submit" class="btn btn-warning btn-large" value="Reset Game State"/>
    }
</fieldset>

<fieldset>
    <legend>Game Parameters</legend>
    @using (Html.BeginForm("SetGameParams", "ViewPort"))
    {
        @Html.EditorForModel();
        <input type="submit" class="btn btn-warning btn-large" value="Set Parameters"/>

    }
</fieldset>