@using TankWar.Models
@model ViewPortModel
@{
    ViewBag.Title = "Tank War View Port";
}

<style>.sjs{border:2px #999 solid;}</style>


<h5>Tank War View Port</h5>

<div class="row">
    <div class="span10" id="sceneDiv"></div>
    <div class="span2"></div>
</div>
@section Scripts {
    <script src="~/Scripts/sprite.js"></script>
    
    <script>
        function TankModel(sprite) {
            var self = this;
            var _sprite = sprite;

            this.setTurret = function(tankModel) {
                if (tankModel.Setting.Angle < 23) {
                    _sprite.setXOffset(5);
                    _sprite.setYOffset(6);
                    _sprite.setXScale(1);
                } else if (tankModel.Setting.Angle < 68) {
                    _sprite.setXOffset(260);
                    _sprite.setYOffset(6);
                    _sprite.setXScale(-1);
                } else if (tankModel.Setting.Angle < 113) {
                    _sprite.setXOffset(297);
                    _sprite.setYOffset(6);
                    
                } else if (tankModel.Setting.Angle < 158) {
                    _sprite.setXOffset(260);
                    _sprite.setYOffset(6);
                    _sprite.setXScale(1);
                } else {
                    _sprite.setXOffset(5);
                    _sprite.setYOffset(6);
                    _sprite.setXScale(-1);
                }
            }
        }

        function sceneControllerClass() {


            var tankSpriteUrl = '@Url.Content("~/Content/Sprites/Tank1.gif")';
            var self = this;
            var scene = null;
            var tankSprites = [];
            var shellSprites = sjs.List();
            var cycleTicker = null;
            var cycleList = sjs.List();


            this.cycleAnimations = function() {
                var cycle;
               // console.log('cylcingticker');
                while (cycle = cycleList.iterate()) {
                    cycle.next();
                    if (cycle.done) {
                        cycle.reset();
                        cycleList.remove(cycle);
                    }
                    cycle.update();
                }
            }

            this.startGame = function(viewState) {

                console.log('startGame with ' + viewState.Tanks.length + ' tanks');

                if (scene != null) {
                    scene.reset();
                }

                scene = sjs.Scene({ w: @Model.ViewSize.BottomRight.X, h: @Model.ViewSize.BottomRight.Y, parent: document.getElementById('sceneDiv'), autoPause: false });

                scene.loadImages([tankSpriteUrl], function() {

                    var layer = scene.Layer("layer", { useCanvas: false });

                    // load player tanks
                    for (var i = 0; i < viewState.Tanks.length; i++) {

                        var viewStateTank = viewState.Tanks[i];
                        var tankSprite = scene.Sprite(tankSpriteUrl, layer);
                        tankSprite.size(43, 40);
                        tankSprite.setXOffset(5);
                        tankSprite.setYOffset(6);

                        tankSprite.move(viewStateTank.Point.X, viewStateTank.Point.Y);
                        tankSprite.serverId = viewStateTank.Id;

                        tankSprites.push(tankSprite);
                        tankSprite.update();
                    }

                    var tankFiringCycle = sjs.Cycle([[5, 6, 1],
                        [55, 6, 10],
                        [100, 6, 10],
                        [145, 6, 5],
                        [190, 6, 5]]);
                    
                    
                    var shellSprite = scene.Sprite(tankSpriteUrl, layer);
                    shellSprite.size(8,8);
                    shellSprite.setYOffset(0);
                    shellSprite.move(90,150);
                    
                    var shellCycle = sjs.Cycle([[	238,      26, 5],
                                                   [250,  	26, 5]]);
								   
                    shellCycle.addSprites(shellSprite);
                    
                    var tankDeathCycle = sjs.Cycle([[18, 52, 5],
                                                    [61, 52, 5],
                                                    [101, 52, 3],
                                                    [143, 52, 3],
                                                    [183, 52, 3],
                                                    [183, 52, 3],
                                                    [222, 52, 3],
                                                    [261, 52, 3],
                                                    [297, 52, 3]]);

                    //var tankTurningCycle = sjs.Cycle([[5, 6, 1],
                    //    [260, 6, 10],
                    //    [296, 6, 10]]);
                    tankDeathCycle.repeat = false;
                    tankFiringCycle.repeat = false;
                    
                  //  tankDeathCycle.addSprite(tankSprites[0]);
                 //   tankFiringCycle.addSprite(tankSprites[1]);
                    
                   // cycleList.add(tankFiringCycle);
                 //   cycleList.add(tankDeathCycle);


                    cycleTicker = scene.Ticker(30, self.cycleAnimations);
                    cycleTicker.run();

                });
            }


            this.tick = function(viewState) {
                for (var spriteIndex = 0; spriteIndex < tankSprites.length; spriteIndex++) {
                    var sprite = tankSprites[spriteIndex];
                    var viewStateTank = null;
                    
                    for (var i = 0; i < viewState.Tanks.length; i++) {
                        var viewStateTankCandidate = viewState.Tanks[i];
                        if (sprite.serverId == viewStateTankCandidate.Id) {
                            viewStateTank = viewStateTankCandidate;
                        }
                    }
                    
                    if (viewStateTank == null) {
                        sprite.remove();
                        console.log('removing sprite');
                    } else {
                        sprite.setX(viewStateTank.Point.X);
                        sprite.setY(viewStateTank.Point.Y);
                        
                        var tankModel = new TankModel(sprite);
                        tankModel.setTurret(viewStateTank);
                        
                        sprite.update();
                    }
                }
                
                var shellSprite;
                while(shellSprite = shellSprites.iterate()) {
                    var viewStateShell = null;
                    
                    for (var i = 0; i < viewState.Shells.length; i++) {
                        var viewStateShellCandidate = viewState.Shells[i];
                        if (sprite.serverId == viewStateShellCandidate.Id) {
                            viewStateShell = viewStateShellCandidate;
                        }
                    }
                    
                    if (viewStateShell == null || shellSprite.IsDead) {
                        shellSprite.remove();
                        console.log('removing shell sprite');
                    } else {
                        shellSprite.setX(viewStateShell.Point.X);
                        shellSprite.setY(viewStateShell.Point.Y);
                        
                        shellSprite.update();
                    }
                }
                
               
            };
        }


        $(function() {


            var sceneController = new sceneControllerClass();

            $.connection.viewPortHub.client.startGame = sceneController.startGame;

            $.connection.viewPortHub.client.tick = sceneController.tick;

            $.connection.hub.start().done(function() {
                console.log("started hub!");
                $.connection.viewPortHub.server.ping();
            });


        });

    </script>
}