<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />

  <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup></configSections>

  <appSettings>
    <add key="owin:HandleAllRequests" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="webPages:Enabled" value="false" /></appSettings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="System.Web.Optimization" />
      <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </assemblies>
    <namespaces>
      <add namespace="System.Web.Optimization" />
    </namespaces>
  </razor>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase`1[[System.Object]]">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>

    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="Microsoft.Owin">
        <listeners>
          <add name="KatanaListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="KatanaListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="ProcessId, DateTime, LogicalOperationStack" />
    </sharedListeners>
    <switches>
      <add name="Microsoft.Owin" value="Verbose" />
    </switches>
  </system.diagnostics>
  

  <nlog throwsExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="environment" value="dev" />
    <variable name="logDirectory" value="D:\Logs\TankWar\${environment}\Web" />
    <variable name="filenamePrefix" value="TankWar.Web.${environment}" />
    <variable name="defaultLayout" value="${longdate} |${level:uppercase=true:padding=5} | ${identity:authType=false:isAuthenticated=false} | ${message} | ${exception:format=type,tostring}" />
    <targets>
      <target name="FileInfo" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
        <target name="FileInfo" xsi:type="File" fileName="${logDirectory}\${filenamePrefix}.${shortdate}.log" layout="${defaultLayout}" />
      </target>
      <target name="FileTrace" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
        <target name="FileTrace" xsi:type="File" fileName="${logDirectory}\${filenamePrefix}.${shortdate}.Trace.log" layout="${defaultLayout}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="FileInfo" />
      <logger name="*" minlevel="Trace" writeTo="FileTrace" />
    </rules>
  </nlog>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor></configuration>