@{
    ViewBag.Title = "Index";
}

<h4>this is the controller</h4>

<div class="row">
    <div class="span2">
        <div id="sliderAngle"></div>
    </div>
    <div class="span2">
        <div id="sliderPower"></div>
    </div>
</div>

@section Scripts {
<script>
    $(function() {
        $("#sliderPower").slider({
            orientation: "vertical",
            range: "min",
            min: 0,
            max: 100,
            value: 60
        });
        
        $("#sliderAngle").slider({
            range: "min",
            min: 0,
            max: 180,
            value: 90
        });
    }
    );
</script>
}