<h1>Hello</h1>

Gamepad
<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&choe=UTF-8&chld=H&chl=@Url.Action("Index", "Gamepad", null, this.Request.Url.Scheme)"/>

Viewport
<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&choe=UTF-8&chld=H&chl=@Url.Action("Index", "Viewport", null, this.Request.Url.Scheme)"/>

Presentation
<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&choe=UTF-8&chld=H&chl=@Url.Action("Preso", "Home", null, this.Request.Url.Scheme)"/>

